Repository hhy98741/template-laravel-react: changes, and which lint-staged commands are due for each by the changed paths.
All: vendor/bin/pint --dirty, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
    "**/*.php": "vendor/bin/pint --dirty",
    "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
    "*.{json,css,md}": ["prettier --write"]
}

claude alias and readme
  README.md
  docker-entrypoint.sh
Due: prettier --write

setup for dev to work
  .gitignore
  .lintstagedrc.json
  Dockerfile
  Makefile
  README.md
  composer.json
  database/seeders/DatabaseSeeder.php
  docker-compose.yml
  docker-entrypoint.sh
  vite.config.ts
Due: vendor/bin/pint --dirty, eslint --fix --max-warnings=0, prettier --write

added bun to setup
  Dockerfile
Due: none

changes to use claude in docker
  .claude/.gitignore
  .gitignore
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
Due: none

lint ignore docker-claude
  eslint.config.js
Due: eslint --fix --max-warnings=0, prettier --write

feature builder skills
  .claude/agents/coder.md
  .claude/agents/reviewer.md
  .claude/commands/split-epic.md
  .claude/skills/build-feature/SKILL.md
  .claude/skills/create-epics/SKILL.md
  .claude/skills/create-features/SKILL.md
Due: prettier --write

focued coding and linting moved to hook
  .claude/agents/coder.md
  .claude/agents/reviewer.md
  .claude/skills/build-feature/SKILL.md
  .claude/skills/create-features/SKILL.md
Due: prettier --write

browser testing
  .claude/agents/coder.md
  .claude/agents/reviewer.md
  .claude/skills/build-feature/SKILL.md
  .claude/skills/create-features/SKILL.md
Due: prettier --write

browser testing
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: prettier --write

npm package update
  package-lock.json
Due: prettier --write

add browser tests to features
  .claude/commands/add-browser-tests.md
Due: prettier --write

add browser tests to coded features
  .claude/prompts/add-browser-tests.md
Due: prettier --write

browser testing config
  .gitignore
  Dockerfile
  eslint.config.js
  phpunit.xml.dist
Due: eslint --fix --max-warnings=0, prettier --write

chore: format code
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/delete-user.tsx
  resources/js/components/two-factor-recovery-codes.tsx
  resources/js/components/two-factor-setup-modal.tsx
  resources/js/components/user-menu-content.tsx
  resources/js/hooks/use-two-factor-auth.ts
  resources/js/layouts/auth/auth-simple-layout.tsx
  resources/js/layouts/auth/auth-split-layout.tsx
  resources/js/layouts/settings/layout.tsx
  resources/js/pages/dashboard.tsx
  resources/js/pages/settings/appearance.tsx
  resources/js/pages/settings/password.tsx
  resources/js/pages/settings/profile.tsx
  resources/js/pages/settings/two-factor.tsx
  resources/js/pages/welcome.tsx
Due: eslint --fix --max-warnings=0, prettier --write

gh token to container
  docker-compose.yml
Due: none

ssh and git in docker
  .gitignore
  Dockerfile
  docker-compose.yml
Due: none

sound in docker container
  Dockerfile
  docker-compose.yml
Due: none

potentially set container volume
  docker-entrypoint.sh
Due: none

agent notifications
  .claude/agents/coder.md
  .claude/agents/reviewer.md
  .claude/hooks/agent-notification.ts
  bun.lock
  package.json
Due: eslint --fix --max-warnings=0, prettier --write

update package-lock
  package-lock.json
Due: prettier --write

Dev (#2)
  .claude/.gitignore
  .claude/agents/coder.md
  .claude/agents/reviewer.md
  .claude/commands/add-browser-tests.md
  .claude/commands/split-epic.md
  .claude/hooks/agent-notification.ts
  .claude/prompts/add-browser-tests.md
  .claude/skills/build-feature/SKILL.md
  .claude/skills/create-epics/SKILL.md
  .claude/skills/create-features/SKILL.md
  .gitignore
  Dockerfile
  bun.lock
  composer.json
  composer.lock
  docker-compose.yml
  docker-entrypoint.sh
  eslint.config.js
  package-lock.json
  package.json
  phpunit.xml.dist
  resources/js/components/app-header.tsx
  resources/js/components/app-sidebar.tsx
  resources/js/components/delete-user.tsx
  resources/js/components/two-factor-recovery-codes.tsx
  resources/js/components/two-factor-setup-modal.tsx
  resources/js/components/user-menu-content.tsx
  resources/js/hooks/use-two-factor-auth.ts
  resources/js/layouts/auth/auth-simple-layout.tsx
  resources/js/layouts/auth/auth-split-layout.tsx
  resources/js/layouts/settings/layout.tsx
  resources/js/pages/dashboard.tsx
  resources/js/pages/settings/appearance.tsx
  resources/js/pages/settings/password.tsx
  resources/js/pages/settings/profile.tsx
  resources/js/pages/settings/two-factor.tsx
  resources/js/pages/welcome.tsx
Due: eslint --fix --max-warnings=0, prettier --write
